version: '3.8'

services:
  keycloak:
    image: quay.io/keycloak/keycloak:23.0
    container_name: keycloak
    ports:
      - "8080:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: dev-file
      KC_HTTP_RELATIVE_PATH: /
    volumes:
      - ./keycloak-themes/warmth-hr-theme:/opt/keycloak/themes/warmth-hr-theme
    command: start-dev
    restart: unless-stopped
